.gradle/
build/
**/build/
local.properties
.idea/
*.iml
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log
.env*
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
captures/
externalNativeBuild/
.cxx/
node_modules/
dist/
bin/
obj/
*.user
*.suo
packages/
coverage/
.angular/
.dotnet/
.android-sdk/
.android-commandlinetools-win.zip
